.RadPanelBar_Vista
{
	background: #fff;
	color: #003399;
}

.RadPanelBar_Vista .rpRootGroup
{
	border: 1px solid #a7bac5;
	border-bottom-color: #8cabc0;
}

.RadPanelBar_Vista .rpRootGroup .rpItem
{
	background: transparent url('PanelBar/item-background.gif') repeat-x top left;
}

.RadPanelBar_Vista .rpRootGroup .rpLink
{
	background: transparent url('PanelBar/item-left.gif') no-repeat top left;
	height: 21px;
	line-height: 21px;
	border-bottom: 1px solid #3c7fb1;
	overflow: hidden;
}

.RadPanelBar_Vista .rpRootGroup .rpLink:hover .rpText
{
	color: #0060ef;
}

.RadPanelBar_Vista .rpGroup .rpLink:hover .rpText
{
	color: #000;
}

.RadPanelBar_Vista .rpRootGroup .rpText
{
	margin-left: 10px;
}

.RadPanelBar_Vista_rtl .rpRootGroup .rpText
{
	margin-right: 10px;
}

.RadPanelBar_Vista .rpGroup .rpItem,
.RadPanelBar_Vista .rpGroup .rpLink
{
	height: auto;
	border: 0;
	background: none;
}

.RadPanelBar_Vista .rpText
{
	margin-right: 7px;
	overflow-x: hidden;
}

.RadPanelBar_Vista_rtl .rpText
{
	margin-right: 0;
	margin-right: 7px;
}

.RadPanelBar_Vista .rpExpandable .rpText
{
	background: transparent url('PanelBar/arrow-expand.gif') no-repeat right 7px;
}

.RadPanelBar_Vista .rpExpanded .rpText
{
	background: transparent url('PanelBar/arrow-collapse.gif') no-repeat right 7px;
}

.RadPanelBar_Vista .rpGroup .rpExpanded .rpText
{
	background-position: right 5px;
}

.RadPanelBar_Vista_rtl .rpExpandable .rpText
{
	background: transparent url('PanelBar/arrow-expand.gif') no-repeat left 7px;
}

.RadPanelBar_Vista_rtl .rpExpanded .rpText
{
	background: transparent url('PanelBar/arrow-collapse.gif') no-repeat left 7px;
}

.RadPanelBar_Vista_rtl .rpGroup .rpExpanded .rpText
{
	background-position: left 5px;
}

.RadPanelBar_Vista .rpRootGroup .rpText
{
	font: normal 12px Tahoma, Arial, sans-serif;
	line-height: 14px;
	color: #003399;
	padding: 3px 7px 0 0;
}

.RadPanelBar_Vista_rtl .rpRootGroup .rpText
{
	padding: 3px 0 0 7px;
}

.RadPanelBar_Vista .rpGroup .rpText
{
	font-size: 11px;
	padding: 2px 7px 3px 0;
	color: #000;
}

.RadPanelBar_Vista_rtl .rpRootGroup .rpText
{
	padding: 2px 0 3px 7px;
}

.RadPanelBar_Vista .rpGroup .rpLink
{
	margin-right: 2px;
	display: block;
	width: auto;
}

.RadPanelBar_Vista_rtl .rpGroup .rpLink
{
	text-indent: 3px;
}

.RadPanelBar_Vista .rpLevel1 .rpLink
{
	margin-left: 0;
}

.RadPanelBar_Vista .rpLevel2 .rpLink
{
	margin-left: 10px;
}

.RadPanelBar_Vista .rpLevel3 .rpLink
{
	margin-left: 20px;
}

.RadPanelBar_Vista_rtl .rpLevel1 .rpLink
{
	margin-right: 0;
	margin-left: 0;
}

.RadPanelBar_Vista_rtl .rpLevel2 .rpLink
{
	margin-right: 10px;
	margin-left: 0;
}

.RadPanelBar_Vista_rtl .rpLevel3 .rpLink
{
	margin-right: 20px;
	margin-left: 0;
}

.RadPanelBar_Vista_rtl .rpGroup .rpLink
{
	margin-left: 2px;
}

.RadPanelBar_Vista .rpGroup .rpText
{
	margin-right: 0;
}

.RadPanelBar_Vista .rpGroup .rpLink:hover
{
	background: transparent url('PanelBar/subitem-hover.gif') no-repeat 2px top;
}

.RadPanelBar_Vista .rpGroup .rpLink:hover .rpText
{
	background: transparent url('PanelBar/subitem-hover.gif') no-repeat top right;
}

.RadPanelBar_Vista .rpGroup .rpExpandable:hover
{
	background: transparent url('PanelBar/subitem-expandable-hover.gif') no-repeat 2px top;
}

.RadPanelBar_Vista .rpGroup .rpExpandable:hover .rpText
{
	background: transparent url('PanelBar/subitem-expandable-hover.gif') no-repeat right top;
}

.RadPanelBar_Vista .rpGroup .rpExpanded:hover
{
	background: transparent url('PanelBar/subitem-expanded-hover.gif') no-repeat 2px top;
}

.RadPanelBar_Vista .rpGroup .rpExpanded:hover .rpText
{
	background: transparent url('PanelBar/subitem-expanded-hover.gif') no-repeat right top;
}

.RadPanelBar_Vista_rtl .rpGroup .rpExpandable:hover
{
	background: transparent url('PanelBar/subitem-expandable-hover-rtl.gif') no-repeat 12px top;
}

.RadPanelBar_Vista_rtl .rpGroup .rpExpandable:hover .rpText
{
	background: transparent url('PanelBar/subitem-expandable-hover-rtl.gif') no-repeat left top;
}

.RadPanelBar_Vista_rtl .rpGroup .rpExpanded:hover
{
	background: transparent url('PanelBar/subitem-expanded-hover-rtl.gif') no-repeat 12px top;
}

.RadPanelBar_Vista_rtl .rpGroup .rpExpanded:hover .rpText
{
	background: transparent url('PanelBar/subitem-expanded-hover-rtl.gif') no-repeat left top;
}


/* these should be checked */

.RadPanelBar_Vista .rpRootGroup .rpSelected .rpText
{
	font-weight: bold;
}

.RadPanelBar_Vista .rpGroup .rpSelected .rpText
{
	font-weight: normal;
	text-decoration: underline;
}

.RadPanelBar_Vista .rpDisabled .rpText
{
	cursor: default;
	color: #bbb;
}

.RadPanelBar_Vista .rpRootGroup .rpDisabled:hover
{
	cursor: default;
	text-decoration: none;
}

.RadPanelBar_Vista .rpRootGroup .rpDisabled:hover .rpText
{
	color: #bbb;
}

.RadPanelBar_Vista .rpGroup .rpDisabled:hover
{
	border-bottom: 0;
	cursor: default;
	text-decoration: none;
	background: none;
}

.RadPanelBar_Vista .rpGroup .rpDisabled:hover .rpText
{
	background: none;
}

.RadPanelBar_Vista .rpGroup .rpLast
{
	zoom: 1;
}